extends layout
include ./mixin

block content
  h2 Welcome to #{group.name}
  p #{group.description}
  p <b>Members</b>: 
    each member in group.members
      span #{member}, 
  
  +add_income_modal("modal-add-income", "Lägg till inkomst", "Lägg till en inkomst", group.id)
  h3 Inkomster 
    button.btn.btn-primary(href="#" type="button" onclick="$('#modal-add-income').modal('show')") Ny inkomst
  ul
    each income in group.incomes
      li 
        b=income.time
        span : #{income.description} #{income.cost}kr

  +add_expense_modal("modal-add-expense", "Lägg till utgift", "Lägg till en utgift", group.id)
  h3 Utgifter 
    button.btn.btn-primary(href="#" type="button" onclick="$('#modal-add-expense').modal('show')") Ny utgift
  ul
    each expense in group.expenses
      li 
        b=expense.time
        span : #{expense.description} #{expense.cost}kr

  +add_trip_modal("modal-add-trip", "Lägg till resa", "Lägg till en resa", group.id)
  h3 Resor 
    button.btn.btn-primary(href="#" type="button" onclick="$('#modal-add-trip').modal('show')") Ny resa
  ul
    each trip in group.trips
      li 
        b=trip.time
        span : #{trip.description} #{trip.cost}kr

  p Bjud in en ny medlem med denna kod: #{group.id}

  script(src="../javascripts/eventhandlers.js") 